<!-- Footer Section -->
    <footer class="w-full h-20 bg-green-800 text-white py-5 flex justify-between items-center px-5">
        <div>© Tafteria 2024 (CCAPDEV Group 14)</div>
        <a class="bg-yellow-500 w-32 h-9 flex items-center justify-center rounded-lg font-bold text-white hover:bg-white hover:text-yellow-500 transition-colors" href="#">To the top</a>
    </footer>