body {
    margin: 0;
    padding: 0;
    line-height: normal;
    font-family: Arial, Helvetica, sans-serif;
}

/*HEADER*/
.header {
    width: 100%;
    background-color: #00661d;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    color: #fff;
    position: relative;
    z-index: 2;
}

.left-section {
    display: flex;
    align-items: center;
}

.right-section {
    display: flex;
    align-items: center;
}

.register, .login {
    border-radius: 8px;
    background-color: #e9a709;
    width: 124px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    box-sizing: border-box;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    box-shadow: 0 9px #00350f;
    line-height: 150%;
    margin-left: 10px;
}

.register:hover, .login:hover {
    background-color: white;
    color: #e9a709;
}

.register:active, .login:active {
    box-shadow: 0 5px #00350f;
    transform: translateY(4px);
}

.search-establishments {
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    width: 100%;
    max-width: 400px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 16px;
    color: #828282;
    margin: 0 20px;
    flex-grow: 1;
}

.search-establishments input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
    color: #333;
}

.nav-button {
    width: 28px;
    height: 24px;
    background-image: url(nav-icon.png);
    background-size: cover;
    cursor: pointer;
    border: none;
}

.tafteria-logo-icon {
    width: 270px;
    height: auto;
    object-fit: cover;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #00350f;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 2;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #e9a709;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidebar.active {
    width: 250px;
}


/*CONTENT TOP*/
.main-content-white {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    transition: margin-left 0.5s;
    box-sizing: border-box;
    background-image: url(agno1.jpg);
    background-position: center;
}

.index-body-white {
    width: 100%;
    height: 100vh;
    position: relative;
    text-align: center;
    font-size: 25px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.discover-the-best {
    font-size: 80px;
    display: inline-block;
    color: white;
    width: 100%;
    margin-bottom: 20px;
}

.find-the-top-rated {
    font-size: 30px;
    font-weight: 300;
    max-width: 1200px;
    color: white;
    display: inline-block;
    width: 100%;
    margin-bottom: 40px;
}

.index-buttons {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    align-items: center;
    gap: 50px;
}

.index-buttons a {
    text-decoration: none;
}

.explore-button, .review-button {
    display: inline-block;
    border-radius: 8px;
    width: 330px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 9px rgb(49, 49, 49);
    text-decoration: none;
    color: #fff;
    margin: 10px auto;
}

.explore-button {
    background-color: #00661d;
}

.review-button {
    background-color: #e9a709;
}

.explore-establishments, .write-review {
    position: relative;
    line-height: 150%;
}

.review-button:active, .explore-button:active {
    box-shadow: 0 5px rgb(49, 49, 49);
    transform: translateY(4px);
}

/*CONTENT BOTTOM*/
.main-content-yellow{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
    padding: 0px;
    box-sizing: border-box;
    background-color: #e9a709;
}

.bottom-features{
    display: inline-flex;
    justify-content: space-between;
    margin-bottom: 75px;
    align-items: center;
    gap: 80px;
}

.left-featured{
    width: 823px;
    position: left;
    border-radius: 20px;
    background-color: #fff;
    height: 736px;
    overflow: hidden;
    text-align: left;
    font-size: 48px;
    color: #000;
}

.right-reviews{
    width: 823px;
    position: right;
    border-radius: 20px;
    background-color: #fff;
    height: 736px;
    overflow: hidden;
    text-align: left;
    font-size: 48px;
    color: #000;
}

.footer{
    width: 100%;
    background-color: #00661d;
    box-sizing: border-box;
    height: 90px;
    overflow: hidden;
    text-align: left;
    font-size: 24px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.top-button{
    border-radius: 8px;
    background-color: #e9a709;
    width: 124px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    box-sizing: border-box;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    box-shadow: 0 9px #00350f;
    line-height: 150%;
    margin-left: 10px;
}

.top-button:hover {
    background-color: white;
    color: #e9a709;
}

.top-button:active {
    box-shadow: 0 5px #00350f;
    transform: translateY(4px);
}

.featured-establishments, .recent-reviews{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 20px;
}

.establishment-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: auto;
    transition: transform 0.3s;
    padding-top: 20px;
}

.establishment-card:hover {
    transform: translateY(-5px);
}

.establishment-image img {
    height: 400px;
    max-width: 780px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.establishment-info {
    padding: 16px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.star{
    width: 15px;
    height: 15px;
    margin-bottom: 3px;
}

.establishment-rating {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    color: #555;
}

.establishment-rating .fas.fa-star {
    color: #f39c12;
}

.establishment-name {
    font-size: 20px;
    margin: 8px 0;
    color: #333;
}

.establishment-description {
    font-size: 14px;
    color: #777;
}

/*RESPONSIVENESS*/
@media (max-width: 1024px) {
    .discover-the-best {
        font-size: 60px;
    }

    .find-the-top-rated {
        font-size: 25px;
    }

    .explore-button, .review-button {
        width: 80%;
    }

    .bottom-features {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .left-featured, .right-reviews {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 1024px) {
    .header {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .left-section, .right-section, .search-establishments {
        width: 100%;
        justify-content: center;
    }

    .register, .login {
        width: 100%;
    }

    .search-establishments {
        width: 100%;
        margin: 10px 0;
    }

    .tafteria-logo-icon {
        margin: 10px 0;
    }

    .discover-the-best {
        font-size: 40px;
        margin-top: 150px;
    }

    .find-the-top-rated {
        font-size: 20px;
        margin-top: 20px;
    }

    .explore-button, .review-button {
        width: 90%;
        margin: 20px auto;
    }

    .index-body-white {
        height: auto;
        padding: 20px;
        margin-top: 20px;
    }

    .main-content-yellow {
        height: auto;
        padding: 20px;
    }

    .bottom-features {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .left-featured, .right-reviews {
        width: 100%;
        height: auto;
    }

    .footer{
        flex-direction: column;
        height: auto;
        padding: 10px;
    }
}