<!-- Sidebar Navigation -->
    <nav id="sidebar" class="h-full fixed top-0 left-0 bg-green-900 w-0 overflow-x-hidden transition-width duration-500 pt-16 z-20">
        <!-- Close Button -->
        <a href="javascript:void(0)" class="absolute top-0 right-10 text-white text-3xl hover:text-yellow-500" onclick="toggleSidebar()">&times;</a>
        <!-- Navigation Links -->
        <a href="index.hbs" class="block py-3 px-6 text-white text-xl hover:text-yellow-500">Home</a>
        <a href="profile.hbs" class="block py-3 px-6 text-white text-xl hover:text-yellow-500">Profile</a>
        <a href="establishments.hbs" class="block py-3 px-6 text-white text-xl hover:text-yellow-500">Establishments</a>
    </nav>